@import "tailwindcss";

@theme {
  --primary-blue: '#106EB0',
  --primary-orange: '#EC7000',
  --primary-gray: '#33303E',
  --secondary-gray: '#4E4B59',
  --gray-phone: '#F4F4F4',
  --text-gray: '#7A7786',
  --opacity-gray: 'rgba(100, 80, 57, 0.1)',
}